*,
*::after,
*::before {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #e7f6ff;
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  .headerLeft {
    display: flex;
    align-items: center;
    img {
      margin: 0px 15px 0px 0px;
    }
    p {
      opacity: 0.5;
    }
  }
  .headerRight {
    display: flex;
    align-items: center;
  }
}

.content {
  padding: 40px;
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    h1 {
      margin: 40px;
    }
    input {
      background-color: transparent;
      border: none;
      padding: 13px;
      font-size: 16px;
      outline: none;
      max-width: 250px;
    }
  }
}

.sneakers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 40px;
}

.search-block {
  border: 1px solid #f3f3f3;
  display: flex;
  align-items: center;
}

.card {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 30px;
  width: 220px;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      span {
        opacity: 0.5;
        font-size: 13px;
        text-transform: uppercase;
      }
      b {
        font-size: 13px;
      }
    }
  }
  &__btn {
    padding: 10px 10px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.overlay {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  // left: 865px;
  right: 0;
  top: 0px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0px 0px 30px 0px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    &__descr {
      margin: 0px 20px 0px 0px;
    }
    &__img {
      margin: 0px 15px 0px 0px;
    }
    p {
      margin: 0px 0px 5px 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: #000000;
    }
    b {
      font-weight: 700;
      font-size: 16px;
      line-height: 17px;
      /* identical to box height */

      color: #000000;
    }
    &__btn {
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.cart-total {
  &__list {
    margin: 0px 0px 40px 0px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 0px 20px 0px;
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      margin: 0 7px;
    }
  }
  &__btn {
    display: block;
    width: 100%;
    background: #9dd558;
    border-radius: 18px;
    padding: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }
  }
}

.cart-items {
  flex: 1;
  overflow: auto;
}
